
@font-face
{
    font-family:                Philosopher;
    src:                        url(Philosopher-Bold.ttf);
}

@font-face
{
    font-family:                PirataOne;
    src:                        url(PirataOne-Gloomhaven.ttf);
}

.card-container
{
    position:                   relative;
    text-align:                 center;

    -webkit-box-flex:           1.0;

    width:                      100%;
    /* width:                      calc(437px + 1rem); /* 437px == card image width */
    /* max-width:                  147.6vh; */
    max-width:              49.2vh;  /* 33vh * (card aspect ratio == 1.476) */
    margin:                     0 auto 10px auto;
}

.modifier-deck-column-1,
.modifier-deck-column-3
{
    display: inline-block;
    vertical-align: middle;
    width: 110px;
}

.modifier-deck-column-1 {
    height: 144px;
}

.modifier-deck-column-2
{
    display: inline-block;
    vertical-align: middle;
    width: calc(100% - 220px);
    max-height: 144px;
}

.icon-text
{
    z-index: 10;
    text-align:                 center;
    color:                      white;
    text-shadow: 0 5px 12px rgba(0,0,0,0.9);
    font-family:                'Nyala', 'Sakkal Majalla', 'Philosopher', sans-serif;
    font-size:                  24px;
}

.background.curse
{
    background-image:           url(images/curse.svg);
    width: 32px;
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    background-size: contain;
    z-index: -1;
    background-color: Transparent;
    background-repeat: no-repeat;
}

.background.bless
{
    background-image:           url(images/bless.svg);
    width: 32px;
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    background-size: contain;
    z-index: -1;
    background-color: Transparent;
    background-repeat: no-repeat;
}

.shuffle
{
    background-repeat:          no-repeat;
    background-position:        center center;
    background-image:           url(images/shuffle-black.svg);
    background-size:            50%;
    cursor:                     pointer;

    width: 72px;
    height: 72px;
    margin: auto;
}

.shuffle.not-required
{
    opacity:                    0.15;
}

.increment.button
{
    text-indent: -999em;
    background: url(images/plus-circle.svg) center center no-repeat;
    width: 24px;
    height: 24px;
    user-select: none;
    cursor: pointer;
    margin: auto;
}

.decrement.button
{
    text-indent: -999em;
    background: url(images/minus-circle.svg) center center no-repeat;
    width: 24px;
    height: 24px;
    user-select: none;
    cursor: pointer;
    margin: auto;
}

.draw-two.button
{
    width: 72px;
    height: 72px;
    margin: auto;
    background-repeat:          no-repeat;
    background-position:        center center;
    background-size:            50%;
    background-image:           url(images/draw-two.svg);
    cursor:                     pointer;
}

.card-container.modifier
{
    max-width: 225px;
    margin: auto;
}

.card-container::before
{
    content:                    "";
    visibility:                 hidden;
    display:                    inline-block;
    padding-bottom:             67.7%;              /* 100% / (card aspect ratio) */
}

.card
{
    position:                   absolute;

    -webkit-backface-visibility: hidden;
    backface-visibility:        hidden;

    color:                      white;
    font-family:                'PirataOne';
    font-size:                  100%;
    text-shadow:                1px 2px 3px black;

    background-clip:            content-box;
    background-origin:          content-box;
    background-repeat:          no-repeat;
    background-size:            cover;

    box-shadow:                 5px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius:              15px;
    overflow:                   hidden;
}



@keyframes pull-front
{
    0%                          { z-index: -3; transform: translate(-1rem, -1rem)   rotateY(180deg); }
    49%                         { z-index: -2; transform: translate(-50%, -20%)     rotateY(90deg); }
    51%                         { z-index:  0; transform: translate(-50%, -20%)     rotateY(90deg); }
    100%                        { z-index:  0; transform: translate(0, 0)           rotateY(0deg); }
}

@keyframes pull-back
{
    0%                          { z-index: -3; transform: translate(-1rem, -1rem)   rotateY(0deg); }
    49%                         { z-index: -2; transform: translate(-50%, -20%)     rotateY(90deg); }
    51%                         { z-index:  0; transform: translate(-50%, -20%)     rotateY(90deg); }
    100%                        { z-index:  0; transform: translate(0, 0)           rotateY(180deg); }
}

@keyframes lift
{
    0%                          { z-index: -1; }
    50%                         { z-index: -1; }
    100%                        { z-index: -4; }
}

@-webkit-keyframes pull-front
{
    0%                          { z-index: -3; -webkit-transform: translate3d(-1rem, -1rem, 1000px) rotateY(180deg); }
    49%                         { z-index: -2; -webkit-transform: translate3d(-50%, -20%, 2000px)   rotateY(90deg); }
    51%                         { z-index:  0; -webkit-transform: translate3d(-50%, -20%, 4000px)   rotateY(90deg); }
    100%                        { z-index:  0; -webkit-transform: translate3d(0, 0, 4000px)         rotateY(0deg); }
}

@-webkit-keyframes pull-back
{
    0%                          { z-index: -3; -webkit-transform: translate3d(-1rem, -1rem, 1000px) rotateY(0deg); }
    49%                         { z-index: -2; -webkit-transform: translate3d(-50%, -20%, 2000px)   rotateY(90deg); }
    51%                         { z-index:  0; -webkit-transform: translate3d(-50%, -20%, 4000px)   rotateY(90deg); }
    100%                        { z-index:  0; -webkit-transform: translate3d(0, 0, 4000px)         rotateY(180deg); }
}

@-webkit-keyframes lift
{
    0%                          { z-index: -1; -webkit-transform: translateZ(3000px); }
    50%                         { z-index: -1; -webkit-transform: translateZ(3000px); }
    100%                        { z-index: -4; }
}

/* kill the animations on any descendant elements of .noanimation */
.no-animation * { 
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important; 
    -ms-animation: none !important; 
    animation: none !important; 
  } 


.card.front.pull
{
    -webkit-animation-name:     pull-front;
    -webkit-animation-duration: 0.5s;

    animation-name:             pull-front;
    animation-duration:         0.5s;
}

.card.back.pull
{
    -webkit-animation-name:     pull-back;
    -webkit-animation-duration: 0.5s;

    animation-name:             pull-back;
    animation-duration:         0.5s;
}

.card.lift
{
    -webkit-animation-name:     lift;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: step-start;

    animation-name:             lift;
    animation-duration:         0.5s;
    animation-timing-function:  step-start;
}

.card.discard
{
    top:                        1rem;
    left:                       1rem;
    bottom:                     0;
    right:                      0;
}

.card.draw
{
    top:                        0;
    left:                       0;
    bottom:                     1rem;
    right:                      1rem;

    -webkit-transition-property: top,   left,   bottom, right,  -webkit-transform,  z-index;
    -webkit-transition-duration: 0.4s,  0.4s,   0.4s,   0.4s,   0.4s,               0s;
    -webkit-transition-delay:   0s,     0s,     0s,     0s,     0s,                 0.4s;

    transition-property:        top,    left,   bottom, right,  transform,  z-index;
    transition-duration:        0.4s,   0.4s,   0.4s,   0.4s,   0.4s,       0s;
    transition-delay:           0s,     0s,     0s,     0s,     0s,         0.4s;
}

.card.ability.front
{
    background-image:           url(images/front.jpg);
}

.card.ability.front > .name[hidden=""] {
    opacity: 0.0;
}

.card.ability.back
{
    background-image:           url(images/back.jpg);
}

.card.modifier.back
{
    background-image:           url(images/attack_mod_back.jpg);
}

.card.modifier.front img.cover
{
    position:                   absolute;
    top:                        0;
    left:                       0;
    width:                      100%;
    height:                     100%;
}

.card.modifier.front.left img.cover
{
    left:                       -25%;
    -webkit-clip-path:          inset(0% 24.5% 0% 24.5%);
    clip-path:                  inset(0% 24.5% 0% 24.5%);
}

.card.modifier.front.right img.cover
{
    left:                       25%;
    -webkit-clip-path:          inset(0% 24.5% 0% 24.5%);
    clip-path:                  inset(0% 24.5% 0% 24.5%);
}

.card ul
{
    padding:                    0;
    margin:                     0;

    list-style:                 none;
    text-align:                 center;

    font-family:                'Nyala', 'Sakkal Majalla', 'Philosopher', sans-serif;
}

.card>ul
{
    position:                   relative;
height:                         calc(100% - 67px);
    margin:                     0 2ch;
    box-sizing:                 border-box;
    overflow:                   visible; /* hidden would be nicer, but for rare layouts or large AOE images better to show even overlfowing off the card, than to cut it off completely as it is vital information */

    display:                    -webkit-box;
    -webkit-box-orient:         vertical;
    -webkit-box-align:          center;
    -webkit-box-pack:           center;

    display:                    -webkit-flex;
    -webkit-flex-direction:     column;
    -webkit-justify-content:    center;

    display:                    flex;
    flex-direction:             column;
    justify-content:            center;
}

.card li
{
    margin:                     0.22em 0;
    margin-left:                17%;
}

.card li li
{
    font-size:                  75%;
    margin:                     0;
}

div.monster-attack-deck-instruction {
    color: black;
    background-image: linear-gradient(to right, rgb(0, 255, 255), rgb(170, 255, 255));
    padding: 4px 0;
    width: 70%;
    font-size: 14px;
    display: inline-block;
    margin-top: 20px;
}

.small
{
    font-size:                  75%;
}

.smaller
{
    font-size:                  60%;
}

.elite-color
{
    color:                      gold;
}

.icon
{
    height:                     1.25em;
    vertical-align:             text-bottom;
}

.mirrored
{
    -webkit-transform:          scale(-1,1);
    transform:                  scale(-1,1);
}

.rotated
{
    -webkit-transform:          rotateZ(-60deg);
    transform:                  rotateZ(-60deg);
}

.aoe
{
    vertical-align:             middle;
}

#EarthDemon .aoe.h2 {
    position: relative;
    right: 5px;
}

#SavvasLavaflow .aoe.h1 {
    position: relative;
    right: -9px;
}

#TheSightlessEye .collapse {
    height: 85px;
}

#TheSightlessEye img.aoe.h3[src*="sightlessEye.special1Area"] {
    position: relative;
    top: -10px;
    transform: rotate(-30deg);
    height: 85px;
}

#TheSightlessEye img.aoe.h3[src*="sightlessEye.special2Area"] {
    position: relative;
    top: -10px;
    right: 15px;
}

.aoe.h1 {
    height:               1.5em;
}
.aoe.h2 {
    height:               3em;
}

#ElderDrake .aoe.h3,
#InoxBodyguard .aoe.h3 {
    position: relative;
    top: -10px;
    right: 15px;
}

.aoe.h3 {
    height:               4.5em;
}
.aoe.h4 { height:               6em; }
.aoe.h6 { height:               7.5em; }

.aoe.right-aligned
{
    position:                   absolute;
    top:                        0;
    right:                      -33px;
    bottom:                     0;
    margin:                     auto 0;
}

div.collapse
{
    display:                    inline-block;
    width:                      0;
    height:                     1px; /* can't be 0 or MS Edge hides the whole div; sigh */
}

.element
{
    height:                     1.75em;
    vertical-align:             middle;
}

.element.overlay
{
    margin-left:                -1.75em;
    z-index:                    1;
}

.card .initiative
{
    font-size:                  180%;
    text-align:                 center;

    position:                   absolute;
    left:                       0;
    top:                        18%;
    width:                      19%;
}

.card .healthNormal
{
    font-size:                  130%;
    text-align:                 left;

    position:                   absolute;
    left:                       3%;
    top:                        45%;
    width:                      15%;
}

.card .healthElite
{
	color:						gold;
    font-size:                  130%;
    text-align:                 left;

    position:                   absolute;
    left:                       3%;
    top:                        70%;
    width:                      15%;
}

.card.front .name,
.card.front .title
{
    text-align:                 center;

    position:                   relative;
    left:                       0;
    width:                      100%;
    line-height:                100%;
}

.card.front .name {
    font-size:                  70%;
    top:                        -7px;
}

.card.front .title {
    font-size:                  100%;
    top:                        3px;
}

.card.back .name
{
    text-align:                 center;
    font-size:                  90%;

    position:                   absolute;
    left:                       0;
    bottom:                     16%;
    width:                      100%;
}

.card .number
{
    font-family:                initial;
    font-size:                  30%;
    text-shadow:                none;

    position:                   absolute;
    left:                       3%;
    bottom:                     5%;
}

img[src="images/shuffle.svg"]
{
    position:                   absolute;
    right:                      3%;
    bottom:                     5%;
    height:                     1.25em;
}

.card::selection
{
    color:                      rgba(0, 0, 0, 0);
    background:                 rgba(0, 0, 0, 0);
}

.up
{
    -webkit-transform:          rotateY(0deg);
    transform:                  rotateY(0deg);
}

.down
{
    -webkit-transform:          rotateY(180deg);
    transform:                  rotateY(180deg);
}
